body {
  background: url("../src/images/weather_back.png");
  background-repeat: no-repeat; /* 이미지 반복 없앰 */
  background-size: cover; 
  height: 100vh;
}

.container {
  height: 100vh; /* view height */
  display: flex; /* 영역안의 아이템을 가로정렬로 바꾼다.  */
  justify-content: center; /* 가로 정렬 */
  align-items: center;  /* 세로 정렬 */
  flex-direction: column; /* 다시 세로 정렬로 바꾼다 */
}

.weatherBox {
  border: 3px solid white;
  padding: 50px;
  border-radius: 20px;
  background-color: azure;
}

.current_btn:hover{
  color: white;
}